header {
  width: 100%;
  padding: 17px 64px;
  border-bottom: 1px solid rgb(228, 228, 231);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__left__logo {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(228, 228, 231);
  background-color: black;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.header__left__name {
  font-size: 20px;
  font-weight: 800;
}

.header__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header__right__mode {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid rgb(228, 228, 231);
  border-radius: 50%;
  padding: 5px;
  transition: opacity 0.3s ease, transform 0.6s ease;
}

.visible {
  transform: rotate(360deg) scale(1);
}

.header__right__signin, .header__right__signup {
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 24px;
  cursor: pointer;
  border: 1px solid rgb(228, 228, 231);
}

.header__right__signin {
  background-color: white;
  color: black;
}

.header__right__signup {
  background-color: black;
  color: white;
}